*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
.sl{
   
    background-color: green;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
/*.header{
      width:100%;
      height:100%;
      background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
      position: relative;
      padding:0.5%;
      display: flex;
      background-color: green;
}*/
#nav{
    height: 145px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0 150px;*/
    padding:0 50px;
    gap: 10px;
    background-color: green;
}
#nav h6 a:hover{
color: greenyellow;
font-size: 20px;
}
#nav h6 a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    transition-property: width,height;
    transition-duration: 5s;
    transition-timing-function: linear;
}
/*nav{
    width:100%;
    position:absolute;
    padding: 20px 8%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:40px;
}
nav ul li a {
    text-decoration: none;
    color:white;
    font-size: 17px;
}
nav ul li a:hover{
    color:rgb(113, 226, 113);
}
nav form{
    padding-left: 300px;
}
nav h1{
   font-size: 35px;
   font-family: cursive;
   color: rgba(101, 209, 93, 0.508);
   margin-left:-50px;
   -webkit-text-stroke:1.8px;
}*/
.lg{
    width: 100px;;
    height:100px;
    border-radius: 30px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    margin-right: 50px;
}
#mainfooter{
    padding:30px;
    background-color:green;
    color:white;
    width:100%;
    height:100%;
}
#footer{
    display:flex;
    column-gap:100px;
}
#footer ul li {
    list-style: none;
    text-decoration: none;
    color:white;
}
#footer ul li a{
    text-decoration: none;
    color:white;
}
footer{
    margin-top: auto;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
  }
  
 .overlay h2 {
    color: orange;
    font-size: 60px;
    /*align-self: center;*/
  }
  .overlay h2 :hover{
    color: orangered;
  }
  h5{
    color: white;
   margin-left: 10%;
  }
  h5:hover{
    color: green;
  }
  #btnn{
    margin-left: 38%;
    color: white;
    background-color: green;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    transition-property: width,height;
    transition-duration: 2s;
    transition-timing-function: linear;
  }
  #btnn:hover{
    background-color: gray;
   /* transform: scale(2,2);*/
   width: 250px;
    height: 80px;
  }
  img{
  background-size: cover;
  width: 100%;
  height: 500px;
  }
  .d{
    gap: 35px;
display: flex;
margin: 90px;
  }
